mixin content
    .content
        .content__news
            .content__news-header
                .news-header__logo This
                    span Week
                .news-header__time MAY 29 - JUNE 1, 2001
            .content__news-post
                .content-news__post-suptitle THE ROAD TO OMAHA
                .content-news__post-title Huskers to Host Super Regional
                .content-news__post-textblock
                    .content-news__post-suptitle NET TO CARRY SUPER REGIONAL GAMES
                    .content-news__post-text NET will carry statewide live coverage of all super regional games between the Nebraska Cornhuskers and the Rice Owls. Coverage will begin at 1pm each day (Friday, Saturday, and, if necessary, Sunday). A live webcast of each game will be offered at the <a (href="#")>NET website.</a> Radio broadcasts will be carried on the Pinnacle Radio Network and also accompanied by a live<a (href="#")> webcast.</a>
                .content-news__post-text Nebraska will host an<a (href="#")> NCAA super regional</a>  beginning Friday, June 1, hosting Rice in a best-of-three series, with each game slated for a 1:05pm first pitch. If the Huskers prevail, they will make their first-ever trip to the College World Series.
                .content-news__post-text The super regional at Buck Beltzer Field in Lincoln will also be a retirement party of sorts for the lovable steel and chain-link ballyard. The Huskers will play next season in the new Haymarket Park.
                .content-news__post-text For more information, see<a (href="#")> huskers.com.</a>

        .content__posts
            .content__posts-image
