mixin header
    .header
        .header__content
            .header__logo-inner
                .header__logo
                    .header__logo-top Nebraska
                    .header__logo-bottom university of nebraska - lincoln
            .header__nav
                a.header__nav-link.active(href="#") Home
                a.header__nav-link(href="#") Welcome
                a.header__nav-link(href="#") Academics
                a.header__nav-link(href="#") Research
                a.header__nav-link(href="#") Admissions
                a.header__nav-link(href="#") Students
                a.header__nav-link(href="#") Faculty/Staff
                a.header__nav-link(href="#") News
                a.header__nav-link(href="#") Athletics
                a.header__nav-link(href="#") Alumni
            .header__search
                .dropdown
                    select
                        option Quick Links
                        option -----------
                        option Apply Online
                        option Chancellor`s Welcome
                        option Campus Maps
                        option Schedule of Classes
                .form
                    input.textform(type="text")

        .header__info
            .header__info-temperature <span>63</span>F
            .header__info-wind OVERCAST 62% RH WIND ESE @ 8
            .header__info-time as of 1:54am
