mixin sidebar
    .sidebar
        .sidebar__image
            img(src="https://picsum.photos/id/180/300")
        .sidebar__nav
            a.sidebar__nav-link(href="#") Chancellor`s welcome
            a.sidebar__nav-link(href="#") History
            a.sidebar__nav-link(href="#") Calendar
        .sidebar__nav-bottom
            a.sidebar-nav__bottom-link(href="#") f.a.q.
            a.sidebar-nav__bottom-link(href="#") university computer use policy/copyright information
            a.sidebar-nav__bottom-link(href="#") web resources
